Repository prestodb/pbench, changes with the owners that CODEOWNERS names for each.
All owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW, @yhwang

Improved organization of pbench output directory to navigate easier for streams runs
  stage/run_recorder.go
  stage/stage.go
  stage/stage_utils.go
Owners: @ethanyzhang

Add custom seed and streams options
  stage/map.go
  stage/stage.go
Owners: @ethanyzhang

Changed error checking for no query files
  stage/stage.go
Owners: @ethanyzhang

Fixed catalog and schema for sf1.json in tpcds
  benchmarks/tpc-ds/sf1.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Fixed catalog and schema for sf1.json in tpcds (#60)
  benchmarks/tpc-ds/sf1.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Improved organization of pbench output directory and detection of duplicate stages in nested stages.
  stage/map.go
  stage/run_recorder.go
  stage/stage.go
  stage/stage_utils.go
Owners: @ethanyzhang

Fixed recording of query.
  stage/stage.go
Owners: @ethanyzhang

Fixed recording of query.
  stage/stage.go
Owners: @ethanyzhang

Functionality for noRandomDuplicates parameter and custom Stream options with seeding
  stage/map.go
  stage/stage.go
  stage/stage_utils.go
  stage/streams.go
Owners: @ethanyzhang

Change s3 bucket name and use timestamp as suffix for schema name
  benchmarks/tpch-load/schema/create_sf100.sql
  benchmarks/tpch-load/schema/create_sf1000.sql
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Fix trino catalog name
  benchmarks/tpch-load/iceberg_sf100.json
  benchmarks/tpch-load/iceberg_sf1000.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Add select count(*) before drop table
  benchmarks/tpch-load/drop-table/customer.sql
  benchmarks/tpch-load/drop-table/lineitem.sql
  benchmarks/tpch-load/drop-table/nation.sql
  benchmarks/tpch-load/drop-table/orders.sql
  benchmarks/tpch-load/drop-table/part.sql
  benchmarks/tpch-load/drop-table/partsupp.sql
  benchmarks/tpch-load/drop-table/region.sql
  benchmarks/tpch-load/drop-table/supplier.sql
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Change catalog name
  benchmarks/tpch-load/iceberg_sf100.json
  benchmarks/tpch-load/iceberg_sf1000.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Fixed functionality for custom seeds in streams.
  stage/map.go
  stage/stage.go
  stage/streams.go
Owners: @ethanyzhang

Fixes to stream indexing and naming conventions
  stage/map.go
  stage/stage.go
  stage/streams.go
Owners: @ethanyzhang

Seed recording
  stage/map.go
  stage/mysql_run_recorder.go
  stage/result.go
  stage/stage.go
  stage/streams.go
Owners: @ethanyzhang

Increase bufio Writer size
  cmd/round/main.go
  utils/utils.go
Owners: @ethanyzhang

Fix loadjson failed because of sql params not match
  cmd/loadjson/main.go
  utils/orm.go
Owners: @ethanyzhang

Try implementation with dummyQueryResult to symbolize end of resultChan
  stage/stage.go
Owners: @ethanyzhang

add separate config file for glue
  benchmarks/java_blueray_glue.json
  benchmarks/java_oss_glue.json
  benchmarks/native_blueray_glue.json
  benchmarks/native_oss_glue.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

add blueray cluster support for saving the cluster information
  stage/pulumi_run_recorder.go
  stage/pulumi_run_recorder_test.go
Owners: @ethanyzhang

Refactored how vertices are created in execution graph
  stage/map.go
  stage/pbench_queries_ddl.sql
  stage/stage.go
  stage/stage_utils.go
Owners: @ethanyzhang

Upload to S3 the query json whenever a query fails
  stage/stage_utils.go
Owners: @ethanyzhang

Upload to S3 the query json whenever a query fails
  stage/stage_utils.go
Owners: @ethanyzhang

Upload to S3 the query json whenever a query fails
  stage/stage_utils.go
Owners: @ethanyzhang

Increase bufio Writer size
  cmd/round/main.go
  utils/utils.go
Owners: @ethanyzhang

add checks for PRs into main branch
  .github/workflows/pr-checks.yaml
Owners: @ethanyzhang

fix context leak
  utils/utils.go
Owners: @ethanyzhang

misc changes from static check report
  benchmarks/tpch/streams/stream_gen_test.go
  cmd/cmp/main.go
  cmd/genddl/main.go
  cmd/loadjson/main.go
  cmd/queryplan/main.go
  presto/client.go
  presto/plan_node/plan_node.go
  presto/query_json/duration.go
  presto/unmarshal_test.go
  presto/unmarshaller.go
  stage/stage.go
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW, @yhwang

fix data race issue
  utils/utils.go
Owners: @ethanyzhang

fix data race issue
  stage/result.go
Owners: @ethanyzhang

fix failed test cases
  stage/stage_test.go
Owners: @ethanyzhang

Adding pre_query_scripts parameter to allow running script commands before every query execution
  benchmarks/test/my_pre_query_script.py
  benchmarks/test/stage_4.json
  stage/stage.go
  stage/stage_utils.go
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Analyze tpcds tables first and then proceed to ds_power benchmark
  benchmarks/tpc-ds/analyze_and_ds_power.json
  benchmarks/tpc-ds/queries/analyze_tables.sql
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Analyze tables, then ds_power, then ds_4streams
  benchmarks/tpc-ds/analyze_and_ds_power.json
  benchmarks/tpc-ds/analyze_and_ds_power_and_ds_4streams.json
  benchmarks/tpc-ds/ds_power_next.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Add both options
  benchmarks/tpc-ds/analyze_and_ds_power.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Removed table from analyze statement
  benchmarks/tpc-ds/queries/analyze_tables.sql
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Remove session param in tpcds sf1k_ice.json to work for Trino
  benchmarks/tpc-ds/sf1k_ice.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Remove query_72
  benchmarks/tpc-ds/ds_power.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Increase writer buffer size to 16384
  cmd/round/main.go
  stage/stage.go
  utils/utils.go
Owners: @ethanyzhang

CODEOWNERS:

/** @ethanyzhang

/benchmarks @ethanyzhang @wanglinsong @xpengahana @FelixYBW
/clusters @ethanyzhang @wanglinsong @xpengahana
/cmd/queryplan @ethanyzhang @yhwang
