Repository prestodb/pbench, changes with the owners that CODEOWNERS names for each.
All owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW, @yhwang

CODEOWNERS:

/** @ethanyzhang

/benchmarks @ethanyzhang @wanglinsong @xpengahana @FelixYBW
/clusters @ethanyzhang @wanglinsong @xpengahana
/cmd/queryplan @ethanyzhang @yhwang

add blueray/wxd cluster support for saving the cluster information
  stage/pulumi_run_recorder.go
  stage/pulumi_run_recorder_test.go
Owners: @ethanyzhang

fix: add error logging in loadjson and fix SQL param mismatch in orm
  cmd/loadjson/main.go
  go.mod
  go.sum
  prestoapi/unmarshal_test.go
  utils/orm.go
Owners: @ethanyzhang

fix: update template
  clusters/templates/catalog/glue.properties
  clusters/templates/catalog/hive-trino.properties
  clusters/templates/catalog/hive.properties
  clusters/templates/catalog/iceberg-native-coordinator.properties
  clusters/templates/catalog/iceberg-native-worker.properties
  clusters/templates/catalog/iceberg-trino.properties
  clusters/templates/catalog/iceberg_glue-native-coordinator.properties
  clusters/templates/catalog/iceberg_glue.properties
  clusters/templates/coordinator/config-native.properties
  clusters/templates/coordinator/config-trino.properties
  clusters/templates/coordinator/config.properties
  clusters/templates/coordinator/jvm.config
  clusters/templates/docker-stack-java.yaml
  clusters/templates/docker-stack-native.yaml
  clusters/templates/docker-stack-trino.yaml
  clusters/templates/workers/config-native.properties
  clusters/templates/workers/config-trino.properties
  clusters/templates/workers/config.properties
  clusters/templates/workers/jvm.config
  clusters/templates/workers/velox.properties
Owners: @ethanyzhang, @wanglinsong, @xpengahana

cluster: add starburst-comp
  clusters/starburst-comp/README.md
  clusters/starburst-comp/catalog/glue.properties
  clusters/starburst-comp/catalog/hive-native.properties
  clusters/starburst-comp/catalog/hive-trino.properties
  clusters/starburst-comp/catalog/hive.properties
  clusters/starburst-comp/catalog/iceberg-native-coordinator.properties
  clusters/starburst-comp/catalog/iceberg-native-worker.properties
  clusters/starburst-comp/catalog/iceberg-trino.properties
  clusters/starburst-comp/catalog/iceberg.properties
  clusters/starburst-comp/catalog/iceberg_glue-native-coordinator.properties
  clusters/starburst-comp/catalog/iceberg_glue.properties
  clusters/starburst-comp/catalog/jmx.properties
  clusters/starburst-comp/catalog/tpcds.properties
  clusters/starburst-comp/catalog/tpch-standard.properties
  clusters/starburst-comp/catalog/tpch.properties
  clusters/starburst-comp/config.json
  clusters/starburst-comp/coordinator/config-native.properties
  clusters/starburst-comp/coordinator/config-trino.properties
  clusters/starburst-comp/coordinator/config.properties
  clusters/starburst-comp/coordinator/jvm-trino.config
  clusters/starburst-comp/coordinator/jvm.config
  clusters/starburst-comp/coordinator/node.properties
  clusters/starburst-comp/coordinator/session-property-config.json
  clusters/starburst-comp/coordinator/session-property-config.properties
  clusters/starburst-comp/docker-stack-java.yaml
  clusters/starburst-comp/docker-stack-native.yaml
  clusters/starburst-comp/docker-stack-spark.yaml
  clusters/starburst-comp/docker-stack-trino.yaml
  clusters/starburst-comp/workers/config-native.properties
  clusters/starburst-comp/workers/config-trino.properties
  clusters/starburst-comp/workers/config.properties
  clusters/starburst-comp/workers/jvm-trino.config
  clusters/starburst-comp/workers/jvm.config
  clusters/starburst-comp/workers/node.properties
Owners: @ethanyzhang, @wanglinsong, @xpengahana

feat: allow custom stage id
  stage/delete_run.sql
  stage/stage.go
Owners: @ethanyzhang

perf team sql
  benchmarks/tpc-ds/queries/q14b.sql
  benchmarks/tpc-ds/queries/q39a.sql
  benchmarks/tpc-ds/queries/q39b.sql
  benchmarks/tpc-ds/queries/q64.sql
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

fix: bug fixes, new tests, and documentation updates
  .github/workflows/ci.yml
  CLAUDE.md
  README.md
  benchmarks/test/expected_row_count_stage.json
  benchmarks/test/random_stage.json
  benchmarks/test/save_output_stage.json
  benchmarks/test/warm_runs_stage.json
  cmd/forward/main.go
  cmd/genconfig/gen.go
  cmd/genddl/main.go
  cmd/queryplan/main.go
  cmd/replay/main.go
  cmd/save/table_summary.go
  cmd/save/table_summary_mock_test.go
  prestoapi/column_stats.go
  prestoapi/unmarshaller_mock_test.go
  stage/delete_run.sql
  stage/influx_run_recorder.go
  stage/mysql_run_recorder.go
  stage/run_recorder.go
  stage/stage_test.go
  utils/orm_test.go
  utils/presto_flags.go
  utils/presto_flags_test.go
  utils/row_test.go
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW, @yhwang

feat: auto-detect catalog/schema/timezone changes and add Description field
  benchmarks/test/auto_new_client_child.json
  benchmarks/test/auto_new_client_stage.json
  stage/stage.go
  stage/stage_test.go
  stage/stage_utils.go
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

refactor: rename variables in queryplan command
  cmd/queryplan/main.go
Owners: @ethanyzhang, @yhwang

chore: update comments
  stage/stage.go
  utils/orm.go
  utils/row.go
Owners: @ethanyzhang

fix: resolve concurrency bugs in stage package
  stage/stage.go
  stage/stage_test.go
  stage/stage_utils.go
Owners: @ethanyzhang

fix: resolve staticcheck lint errors across codebase
  benchmarks/tpch/streams/stream_gen_test.go
  cmd/cmp/main.go
  cmd/genddl/main.go
  cmd/loadjson/query_info_test.go
  cmd/replay/frame.go
  prestoapi/plan_node/details_utils.go
  prestoapi/plan_node/plan_node.go
  prestoapi/unmarshal_test.go
  prestoapi/unmarshaller.go
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

fix: add make test target, fix remaining races and test issues
  Makefile
  benchmarks/test/my_post_stage_script.py
  cmd/save/table_summary_mock_test.go
  cmd/save/table_summary_test.go
  go.mod
  go.sum
  stage/result.go
  stage/stage.go
  stage/stage_test.go
  utils/utils.go
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

ci: pin Go version to 1.25.7 to match go.mod
  .github/workflows/ci.yml
Owners: @ethanyzhang

fix: mechanical bugs across cmd packages and Makefile
  Makefile
  cmd/forward/main.go
  cmd/genconfig/gen.go
  cmd/genddl/main.go
  cmd/queryplan/main.go
  cmd/replay/main.go
  cmd/run/main.go
  cmd/save/table_summary.go
  stage/mysql_run_recorder.go
Owners: @ethanyzhang, @yhwang

fix: design review fixes across cmd packages
  cmd/cmp.go
  cmd/forward/main.go
  cmd/loadjson/main.go
  cmd/queryplan/main.go
  cmd/replay.go
  cmd/replay/main.go
  cmd/round.go
  cmd/run.go
  cmd/save.go
  cmd/save/main.go
  utils/presto_flags.go
Owners: @ethanyzhang, @yhwang

refactor: generalize genddl beyond TPC-DS and resolve paths relative to config
  cmd/genddl/insert_table.sql.tmpl
  cmd/genddl/main.go
Owners: @ethanyzhang

refactor: improve genddl reliability and performance
  cmd/genddl/main.go
Owners: @ethanyzhang

ci: add genconfig test
  .github/workflows/ci.yml
  CLAUDE.md
Owners: @ethanyzhang

test: add genddl golden file test comparing output vs checked-in examples
  cmd/genddl/main_test.go
Owners: @ethanyzhang

test: add tests for genconfig, queryplan, round; raise coverage to 50%
  .github/workflows/ci.yml
  cmd/genconfig/main_test.go
  cmd/genddl/main_test.go
  cmd/queryplan/main_test.go
  cmd/round/main_test.go
  cmd/save/table_summary_mock_test.go
Owners: @ethanyzhang, @yhwang

feat: add TPC-H support to genddl
  cmd/genddl/definition/tpc-h/customer.json
  cmd/genddl/definition/tpc-h/lineitem.json
  cmd/genddl/definition/tpc-h/nation.json
  cmd/genddl/definition/tpc-h/orders.json
  cmd/genddl/definition/tpc-h/part.json
  cmd/genddl/definition/tpc-h/partsupp.json
  cmd/genddl/definition/tpc-h/region.json
  cmd/genddl/definition/tpc-h/supplier.json
  cmd/genddl/generated-examples/tpch-sf10-parquet-zstd/1-create-tpch-sf10-parquet-iceberg-zstd.sql
  cmd/genddl/generated-examples/tpch-sf10-parquet-zstd/2-insert-tpch-sf10-parquet-iceberg-zstd.sql
  cmd/genddl/generated-examples/tpch-sf10-parquet-zstd/3-create-tpch-sf10-parquet-partitioned-iceberg-zstd.sql
  cmd/genddl/generated-examples/tpch-sf10-parquet-zstd/4-insert-tpch-sf10-parquet-partitioned-iceberg-zstd.sql
  cmd/genddl/generated-examples/tpch-sf10-parquet-zstd/5-create-tpch-sf10-parquet-hive-zstd.sql
  cmd/genddl/generated-examples/tpch-sf10-parquet-zstd/6a-create-tpch-sf10-parquet-partitioned-hive-zstd.sql
  cmd/genddl/generated-examples/tpch-sf10-parquet-zstd/6b-s3-mv-tpch-sf10-parquet-partitioned-hive-zstd.sh
  cmd/genddl/generated-examples/tpch-sf10-parquet-zstd/6c-call-analyze-tpch-sf10-parquet-partitioned-hive-zstd.sql
  cmd/genddl/generated-examples/tpch-sf10-parquet-zstd/6d-s3-cp-tpch-sf10-parquet-partitioned-hive-zstd.sh
  cmd/genddl/main_test.go
  cmd/genddl/tpch_config.json
Owners: @ethanyzhang

fix: address review findings across codebase
  cmd/forward/main.go
  cmd/genconfig/gen.go
  cmd/queryplan/main.go
  cmd/replay/frame.go
  cmd/replay/frame_test.go
  cmd/save/table_summary.go
  prestoapi/query_splitter.go
  prestoapi/query_splitter_test.go
  prestoapi/unmarshaller.go
  stage/influx_run_recorder.go
  stage/mysql_run_recorder.go
  stage/pulumi_run_recorder.go
  stage/stage.go
  stage/stage_test.go
  utils/orm.go
  utils/orm_test.go
Owners: @ethanyzhang, @yhwang

fix: address round 2 review findings across codebase
  CLAUDE.md
  cmd/cmp/main.go
  cmd/genddl/main.go
  cmd/round/main.go
  cmd/round/main_test.go
  cmd/save/table_summary.go
  log/marshallers.go
  prestoapi/plan_node/identifier.go
  prestoapi/query_splitter.go
  prestoapi/query_splitter_test.go
  prestoapi/unmarshal_test.go
  prestoapi/unmarshaller.go
  stage/map.go
  stage/pulumi_run_recorder.go
  stage/stage.go
  stage/stage_utils.go
  utils/orm.go
  utils/orm_test.go
  utils/row.go
  utils/utils.go
  utils/utils_test.go
Owners: @ethanyzhang

feat: add non-Pulumi cluster support for Blueray/WXD FQDNs
  CLAUDE.md
  stage/pulumi_run_recorder.go
  stage/pulumi_run_recorder_test.go
Owners: @ethanyzhang

feat: add pre_query_scripts parameter for running scripts before each query
  benchmarks/test/my_pre_query_script.py
  benchmarks/test/stage_4.json
  stage/stage.go
  stage/stage_test.go
  stage/stage_utils.go
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

fix: ensure post_query_cycle_scripts runs on abort
  stage/stage.go
  stage/stage_test.go
Owners: @ethanyzhang

refactor: use wrapper type for SimpleLogging to avoid struct copy
  stage/result.go
Owners: @ethanyzhang

feat: add Glue catalog benchmark configs for Java/native engines (#66)
  benchmarks/java_blueray_glue.json
  benchmarks/java_oss_glue.json
  benchmarks/native_blueray_glue.json
  benchmarks/native_oss_glue.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

ci: add semantic commit message check for PRs
  .github/workflows/ci.yml
Owners: @ethanyzhang

feat: inject PBENCH_* environment variables into shell script hooks
  stage/stage.go
  stage/stage_test.go
  stage/stage_utils.go
Owners: @ethanyzhang

feat: add no_random_duplicates parameter for random execution
  stage/stage.go
  stage/stage_test.go
  stage/stage_utils.go
Owners: @ethanyzhang

feat: add stream_count for parallel stage instances
  stage/stage.go
  stage/stage_test.go
  stage/stage_utils.go
Owners: @ethanyzhang

docs: update README to match reorganized wiki homepage
  CLAUDE.md
  README.md
Owners: @ethanyzhang

docs: add wiki update checklist and new stage field checklist to CLAUDE.md
  CLAUDE.md
Owners: @ethanyzhang

fix: data race on RandSeedUsed written by concurrent stream goroutines
  stage/influx_run_recorder.go
  stage/mysql_run_recorder.go
  stage/stage.go
  stage/stage_test.go
  stage/states.go
Owners: @ethanyzhang

feat: support directories in query_files for dynamic query generation
  .gitignore
  .idea/dataSources.xml
  stage/map.go
  stage/stage.go
  stage/stage_test.go
  stage/stage_utils.go
Owners: @ethanyzhang

chore: remove .idea directory from version control
  .idea/.gitignore
  .idea/dataSources.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/pbench.iml
  .idea/sqldialects.xml
  .idea/vcs.xml
Owners: @ethanyzhang

feat: add make release target for GitHub releases
  Makefile
Owners: @ethanyzhang

ci: add GitHub Actions workflow for releases
  .claude/settings.local.json
  .github/workflows/release.yml
  benchmarks/tpch/sf100-trino.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW
