Repository prestodb/pbench, changes with the owners that CODEOWNERS names for each.
All owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW, @yhwang

CODEOWNERS:

/** @ethanyzhang

/benchmarks @ethanyzhang @wanglinsong @xpengahana @FelixYBW
/clusters @ethanyzhang @wanglinsong @xpengahana
/cmd/queryplan @ethanyzhang @yhwang

fix: delete_run query
  stage/delete_run.sql
Owners: @ethanyzhang

fix: address code review findings — SQL injection, error handling, context propagation
  cmd/loadjson/main.go
  cmd/replay/float64_time_test.go
  cmd/replay/query_log.go
  cmd/save/sql_ident_test.go
  cmd/save/table_summary.go
  cmd/save/table_summary_mock_test.go
  prestoapi/unmarshaller.go
  stage/mysql_run_recorder.go
  stage/pulumi_run_recorder.go
  stage/run_recorder.go
  stage/run_recorder_test.go
  stage/stage.go
  stage/stage_utils.go
  utils/utils.go
Owners: @ethanyzhang

chore: update presto-go-client to v2.1.0
  cmd/forward/main.go
  cmd/loadjson/main.go
  cmd/loadjson/query_info_test.go
  cmd/replay/query_log.go
  go.mod
  go.sum
  utils/orm.go
  utils/orm_test.go
Owners: @ethanyzhang

chore: update presto-go-client to v2.1.1
  cmd/forward/main.go
  cmd/loadjson/main.go
  cmd/loadjson/query_info_test.go
  cmd/replay/query_log.go
  go.mod
  go.sum
  utils/orm.go
  utils/orm_test.go
Owners: @ethanyzhang

Enhanced ingestion workflow
  cmd/genddl/create_source_table.sql.tmpl
  cmd/genddl/create_target_table.sql.tmpl
  cmd/genddl/insert_table.sql.tmpl
  cmd/genddl/main.go
Owners: @ethanyzhang

Adding tls verification to mysql dsn
  mysql.template.json
  utils/utils.go
Owners: @ethanyzhang

Insert teamplate and schema creation fix
  cmd/genddl/create_target_table.sql.tmpl
  cmd/genddl/insert_table.sql.tmpl
  cmd/genddl/main.go
Owners: @ethanyzhang

Create config_enhanced_ingestion.json.example
  cmd/genddl/config_enhanced_ingestion.json.example
Owners: @ethanyzhang

target table sql syntax fix
  cmd/genddl/create_target_table.sql.tmpl
Owners: @ethanyzhang

Handle custom TLS configuration
  mysql.template.json
  utils/utils.go
Owners: @ethanyzhang

Generate specific sql files as per config provided.
  cmd/genddl/main.go
Owners: @ethanyzhang

Partitioned tables creation
  cmd/genddl/create_target_table.sql.tmpl
  cmd/genddl/main.go
Owners: @ethanyzhang

fix: upgrade Go 1.26.1 → 1.26.2 to resolve 4 stdlib vulnerabilities
  go.mod
Owners: @ethanyzhang

ci: update GitHub Actions to Go 1.26.2
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @ethanyzhang

fix: address code review findings across stage, cmd, and utils packages
  cmd/genconfig/gen.go
  cmd/loadjson/main.go
  cmd/queryplan/main.go
  cmd/save/table_summary.go
  stage/map.go
  stage/run_recorder.go
  stage/stage.go
  stage/stage_utils.go
  utils/orm.go
Owners: @ethanyzhang, @yhwang

chore: add pre-commit hook for fmt, vet, staticcheck, tests, and coverage
  .githooks/pre-commit
Owners: @ethanyzhang

chore: update presto-go-client to v2.0.1
  go.mod
  go.sum
Owners: @ethanyzhang

fix: unused local variable (#82)
  benchmarks/scripts/system_utils.py
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

chore: update presto-go-client to v2.1.1
  cmd/forward/main.go
  cmd/loadjson/main.go
  cmd/loadjson/query_info_test.go
  cmd/replay/query_log.go
  go.mod
  go.sum
  utils/orm.go
  utils/orm_test.go
Owners: @ethanyzhang

fix: delete_run query
  stage/delete_run.sql
Owners: @ethanyzhang

chore: delete orphaned Presto query records
  stage/delete_run.sql
Owners: @ethanyzhang

ci: update GitHub Actions to Go 1.26.2
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @ethanyzhang

fix: address code review findings — SQL injection, error handling, context propagation
  cmd/loadjson/main.go
  cmd/replay/float64_time_test.go
  cmd/replay/query_log.go
  cmd/save/sql_ident_test.go
  cmd/save/table_summary.go
  cmd/save/table_summary_mock_test.go
  prestoapi/unmarshaller.go
  stage/mysql_run_recorder.go
  stage/pulumi_run_recorder.go
  stage/run_recorder.go
  stage/run_recorder_test.go
  stage/stage.go
  stage/stage_utils.go
  utils/utils.go
Owners: @ethanyzhang

fix: explicit returns mixed with implicit (fall through) returns (#81)
  benchmarks/scripts/mysql_utils.py
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

fix: upgrade Go 1.26.1 → 1.26.2 to resolve 4 stdlib vulnerabilities
  go.mod
Owners: @ethanyzhang

chore: remove unused benchmarks/catalogs.txt
  benchmarks/catalogs.txt
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Apply suggested fix to benchmarks/scripts/mysql_utils.py from Copilot Autofix
  benchmarks/scripts/mysql_utils.py
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

fix: don't mask swapoff failure with swapon exit status
  benchmarks/scripts/cache_cleaning_workers.py
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Apply suggested fix to benchmarks/scripts/system_utils.py from Copilot Autofix
  benchmarks/scripts/system_utils.py
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Apply suggested fix to benchmarks/scripts/system_utils.py from Copilot Autofix
  benchmarks/scripts/system_utils.py
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

fix: code quality findings (#89)
  benchmarks/scripts/system_utils.py
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

fix: combine race+coverage test runs, fail on coverage collection error
  .githooks/pre-commit
Owners: @ethanyzhang

Apply suggested fix to .githooks/pre-commit from Copilot Autofix
  .githooks/pre-commit
Owners: @ethanyzhang

Apply suggested fix to .githooks/pre-commit from Copilot Autofix
  .githooks/pre-commit
Owners: @ethanyzhang

chore: tighten pre-commit hook's test and coverage checks
  .githooks/pre-commit
Owners: @ethanyzhang

fix: close mysql cursor in execute_mysql_query to stop leak
  benchmarks/scripts/mysql_utils.py
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

feat: add tls verification to mysql dsn
  mysql.template.json
  utils/utils.go
  utils/utils_test.go
Owners: @ethanyzhang

Column header name fix
  cmd/genddl/definition/tpc-ds/promotion.json
Owners: @ethanyzhang

feat: Add ability to have the formatted text plan be populated and inserted for presto_query_plans MySQL table from the loadjson command
  cmd/loadjson/main.go
  go.mod
  go.sum
  prestoapi/plan_formatter.go
  prestoapi/plan_formatter_test.go
Owners: @ethanyzhang

refactor: cmd/genddl for generating ingestion SQL files for generating TPC-DS data.
  cmd/genddl/config_enhanced_ingestion.json.example
  cmd/genddl/create_source_table.sql.tmpl
  cmd/genddl/create_target_table.sql.tmpl
  cmd/genddl/definition/tpc-ds/promotion.json
  cmd/genddl/generated-examples/tpcds-sf10-parquet/1-create-tpcds-sf10-parquet-iceberg.sql
  cmd/genddl/generated-examples/tpcds-sf10-parquet/2-insert-tpcds-sf10-parquet-iceberg.sql
  cmd/genddl/generated-examples/tpcds-sf10-parquet/3-create-tpcds-sf10-parquet-partitioned-iceberg.sql
  cmd/genddl/generated-examples/tpcds-sf10-parquet/4-insert-tpcds-sf10-parquet-partitioned-iceberg.sql
  cmd/genddl/generated-examples/tpcds-sf10-parquet/5-create-tpcds-sf10-parquet-hive.sql
  cmd/genddl/generated-examples/tpcds-sf10-parquet/6a-create-tpcds-sf10-parquet-partitioned-hive.sql
  cmd/genddl/insert_table.sql.tmpl
  cmd/genddl/main.go
  cmd/genddl/main_test.go
Owners: @ethanyzhang
