Repository prestodb/pbench, changes with the owners that CODEOWNERS names for each.
All owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW, @yhwang

chore: remove orphaned velox.properties files
  clusters/2xlarge/workers/velox.properties
  clusters/large-ssd/workers/velox.properties
  clusters/large/workers/velox.properties
  clusters/medium-spill/workers/velox.properties
  clusters/medium-ssd/workers/velox.properties
  clusters/medium/workers/velox.properties
  clusters/small-ssd/workers/velox.properties
  clusters/small/workers/velox.properties
  clusters/xlarge-ssd/workers/velox.properties
  clusters/xlarge/workers/velox.properties
  clusters/xsmall/workers/velox.properties
Owners: @ethanyzhang, @wanglinsong, @xpengahana

fix: simplify make sync and add destination check
  Makefile
  clusters/2xlarge/catalog/iceberg-native-coordinator.properties
  clusters/2xlarge/catalog/iceberg.properties
  clusters/large-ssd/catalog/iceberg-native-coordinator.properties
  clusters/large-ssd/catalog/iceberg.properties
  clusters/large/catalog/iceberg-native-coordinator.properties
  clusters/large/catalog/iceberg.properties
  clusters/medium-spill/catalog/iceberg-native-coordinator.properties
  clusters/medium-spill/catalog/iceberg.properties
  clusters/medium-ssd/catalog/iceberg-native-coordinator.properties
  clusters/medium-ssd/catalog/iceberg.properties
  clusters/medium/catalog/iceberg-native-coordinator.properties
  clusters/medium/catalog/iceberg.properties
  clusters/shared/entrypoint-native.sh
  clusters/shared/entrypoint-spark.sh
  clusters/shared/etc/function-namespace/native.properties
  clusters/shared/etc/plan-checker-providers/native.properties
  clusters/shared/etc/session-property-providers/native-worker.properties
  clusters/shared/etc/type-managers/native.properties
  clusters/shared/jmx-exporter-config.yaml
  clusters/shared/spark/log4j2-driver.properties
  clusters/shared/spark/spark-defaults.conf
  clusters/shared/spark/spark-native-defaults.conf
  clusters/shared/telegraf/telegraf-spark.conf
  clusters/small-ssd/catalog/iceberg-native-coordinator.properties
  clusters/small-ssd/catalog/iceberg.properties
  clusters/small/catalog/iceberg-native-coordinator.properties
  clusters/small/catalog/iceberg.properties
  clusters/starburst-comp/catalog/iceberg-native-coordinator.properties
  clusters/starburst-comp/catalog/iceberg.properties
  clusters/templates/catalog/iceberg-native-coordinator.properties
  clusters/templates/catalog/iceberg.properties
  clusters/xlarge-ssd/catalog/iceberg-native-coordinator.properties
  clusters/xlarge-ssd/catalog/iceberg.properties
  clusters/xlarge/catalog/iceberg-native-coordinator.properties
  clusters/xlarge/catalog/iceberg.properties
  clusters/xsmall/catalog/iceberg-native-coordinator.properties
  clusters/xsmall/catalog/iceberg.properties
Owners: @ethanyzhang, @wanglinsong, @xpengahana

feat: skip empty template outputs in genconfig
  cmd/genconfig/gen.go
  cmd/genconfig/main_test.go
Owners: @ethanyzhang

feat: revert config filename to config.json, add string functions and spark template improvements
  Makefile
  clusters/2xlarge/config.json
  clusters/large-ssd/config.json
  clusters/large/config.json
  clusters/medium-spill/config.json
  clusters/medium-ssd/config.json
  clusters/medium/config.json
  clusters/small-ssd/config.json
  clusters/small/config.json
  clusters/starburst-comp/config.json
  clusters/templates/docker-stack-spark.yaml
  clusters/xlarge-ssd/config.json
  clusters/xlarge/config.json
  clusters/xsmall/config.json
  cmd/genconfig.go
  cmd/genconfig/gen.go
  cmd/genconfig/main.go
Owners: @ethanyzhang, @wanglinsong, @xpengahana

ci: refresh generated configs
  clusters/large/docker-stack-spark.yaml
  clusters/medium-spill/docker-stack-spark.yaml
  clusters/medium-ssd/docker-stack-spark.yaml
  clusters/medium/docker-stack-spark.yaml
  clusters/small/docker-stack-spark.yaml
  clusters/starburst-comp/docker-stack-spark.yaml
Owners: @ethanyzhang, @wanglinsong, @xpengahana

feat: add .genconfigignore support to skip directories in genconfig
  cmd/genconfig/main.go
  cmd/genconfig/main_test.go
Owners: @ethanyzhang

fix: disable CGO for cross-compiled builds to avoid glibc mismatch
  Makefile
Owners: @ethanyzhang

fix: spark config for xlarge-ssd
  clusters/templates/docker-stack-spark.yaml
Owners: @ethanyzhang, @wanglinsong, @xpengahana

feat: import ndjson files dumped by event listener
  cmd/loadeljson.go
  cmd/loadeljson/202506160849_0_error.ndjson
  cmd/loadeljson/202506160854_0.ndjson
  cmd/loadeljson/db.go
  cmd/loadeljson/main.go
  cmd/loadeljson/synced_time.go
  cmd/loadeljson/types.go
  stage/mysql_run_recorder.go
Owners: @ethanyzhang

fix: add tests for importing eljson
  cmd/loadeljson.go
  cmd/loadeljson/db_test.go
  cmd/loadeljson/main_test.go
  cmd/loadeljson/synced_time_test.go
  cmd/loadeljson/test_error.ndjson
  cmd/loadeljson/test_success.ndjson
  cmd/loadeljson/types.go
  cmd/loadeljson/types_test.go
  go.mod
  go.sum
Owners: @ethanyzhang

chore: remove local claude setting
  .claude/settings.local.json
  .gitignore
Owners: @ethanyzhang

misc: update claude.md
  CLAUDE.md
Owners: @ethanyzhang

Change schema for sf100 scale factor to nostats
  benchmarks/tpch/sf100.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

feat: add iceberg specific config files
  benchmarks/java_oss_iceberg.json
  benchmarks/native_oss_iceberg.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Change schema for sf100 scale factor to nostats
  benchmarks/tpch/sf100.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

feat: add iceberg specific config files
  benchmarks/java_oss_iceberg.json
  benchmarks/native_oss_iceberg.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

delete a and b of multipart
  benchmarks/tpc-ds/queries/q14a.sql
  benchmarks/tpc-ds/queries/q14b.sql
  benchmarks/tpc-ds/queries/q23a.sql
  benchmarks/tpc-ds/queries/q23b.sql
  benchmarks/tpc-ds/queries/q24a.sql
  benchmarks/tpc-ds/queries/q24b.sql
  benchmarks/tpc-ds/queries/q39a.sql
  benchmarks/tpc-ds/queries/q39b.sql
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

New schema tpch_sf100_parquet_nostats
  benchmarks/tpch/sf100.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

keep q14a and q14b as original
  benchmarks/tpc-ds/queries/q14a.sql
  benchmarks/tpc-ds/queries/q14b.sql
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

make q23,24 and q39 also multi-part
  benchmarks/tpc-ds/queries/q14b.sql
  benchmarks/tpc-ds/queries/q23a.sql
  benchmarks/tpc-ds/queries/q23b.sql
  benchmarks/tpc-ds/queries/q24.sql
  benchmarks/tpc-ds/queries/q24a.sql
  benchmarks/tpc-ds/queries/q24b.sql
  benchmarks/tpc-ds/queries/q39a.sql
  benchmarks/tpc-ds/queries/q39b.sql
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

delete qall.sql
  benchmarks/tpc-ds/queries/qall.sql
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

add README.md in queries_v2
  benchmarks/tpc-ds/queries_v2/10000/README.md
  benchmarks/tpc-ds/queries_v2/10000/TPCDS_FIXES_SUMMARY_PRESTO.md
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

add hyperlink to TPCDS_FIXES_SUMMARY_PRESTO.md
  benchmarks/tpc-ds/queries_v2/10000/README.md
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

move README location
  benchmarks/tpc-ds/queries_v2/README.md
  benchmarks/tpc-ds/queries_v2/TPCDS_FIXES_SUMMARY_PRESTO.md
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

ci: bump GitHub Actions to Node.js 24 compatible versions
  .github/workflows/release.yml
Owners: @ethanyzhang

chore: update presto-go-client to v2.0.0 from prestodb org
  cmd/forward/main.go
  cmd/loadjson/main.go
  cmd/loadjson/query_info_test.go
  cmd/replay/frame_test.go
  cmd/replay/main.go
  cmd/replay/query_log.go
  cmd/save/main.go
  cmd/save/table_summary.go
  cmd/save/table_summary_mock_test.go
  go.mod
  go.sum
  prestoapi/unmarshal_test.go
  prestoapi/unmarshaller.go
  prestoapi/unmarshaller_mock_test.go
  stage/delete_run.sql
  stage/stage.go
  stage/stage_test.go
  stage/stage_utils.go
  utils/orm.go
  utils/orm_test.go
  utils/presto_flags.go
Owners: @ethanyzhang

build: bump Go version from 1.25.7 to 1.26.1
  .github/workflows/ci.yml
  .github/workflows/release.yml
Owners: @ethanyzhang

ci: fix build output path, bump GitHub Actions to Node.js 24
  .github/workflows/ci.yml
  .gitignore
Owners: @ethanyzhang

build: exclude benchmarks from release tar
  Makefile
Owners: @ethanyzhang

chore: add Claude Code config, skill, and update CLAUDE.md
  .claude/settings.json
  .claude/skills/add-stage-field/SKILL.md
  .gitignore
  CLAUDE.md
Owners: @ethanyzhang

Change schema for sf100 scale factor to nostats
  benchmarks/tpch/sf100.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

fix: address code review findings across stage, cmd, and utils packages
  cmd/genconfig/gen.go
  cmd/loadjson/main.go
  cmd/queryplan/main.go
  cmd/save/table_summary.go
  stage/map.go
  stage/run_recorder.go
  stage/stage.go
  stage/stage_utils.go
  utils/orm.go
Owners: @ethanyzhang, @yhwang

chore: update presto-go-client to v2.0.1
  go.mod
  go.sum
Owners: @ethanyzhang

Fix for Explicit returns mixed with implicit (fall through) returns
  benchmarks/scripts/mysql_utils.py
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

fix: explicit returns mixed with implicit (fall through) returns (#81)
  benchmarks/scripts/mysql_utils.py
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

chore: delete orphaned Presto query records
  stage/delete_run.sql
Owners: @ethanyzhang

Fix for Unused local variable
  benchmarks/scripts/system_utils.py
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

Add tpch sf3k
  benchmarks/tpch/sf3k.json
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

fix: unused local variable (#82)
  benchmarks/scripts/system_utils.py
Owners: @ethanyzhang, @wanglinsong, @xpengahana, @FelixYBW

chore: add pre-commit hook for fmt, vet, staticcheck, tests, and coverage
  .githooks/pre-commit
Owners: @ethanyzhang

CODEOWNERS:

/** @ethanyzhang

/benchmarks @ethanyzhang @wanglinsong @xpengahana @FelixYBW
/clusters @ethanyzhang @wanglinsong @xpengahana
/cmd/queryplan @ethanyzhang @yhwang
